index-backup.bak
fonts/
moderncv.cls
moderncvbodyi.sty
moderncvbodyiii.sty
moderncvbodyiv.sty
moderncvbodyv.sty
moderncvcollection.sty
moderncvheadi.sty
moderncvheadii.sty
moderncvheadiii.sty
moderncvheadiv.sty
moderncvheadv.sty
moderncvstylebanking.sty
moderncvstylecasual.sty
moderncvstyleclassic.sty
moderncvstylefancy.sty
moderncvstyleoldstyle.sty
tweaklist.sty
awesome-cv.cls
_bookdown_files/
JooYoung_Seo_CV.tex
JooYoung_Seo_CV.Rmd
JooYoung_Seo_CV.log
notes.txt
data/signature.png
data/JooYoung Seo CV.docx
docs/JooYoung_Seo_CV.tex
docs/JooYoung_Seo_CV.log
docs/JooYoung_Seo_CV.md
^build\.bat$
.Rhistory
.RData
.Rproj.user
